<div>
  <header class="header">
    <a class="about" routerLink="/about">О проекте</a>
    <div class=".header-container" *ngIf="!(authService.user$ | async)">
      <a class="about" routerLink="/signup">Регистрация</a>
      <a class="about" routerLink="/signin">Войти</a>
    </div>
    <div class="header-container" *ngIf="(authService.user$ | async) as user">
      <a class="about" routerLink="/todo">Todo List</a>
      <span class="about">{{(authService.user$ | async)?.email}}</span>
      <a class="about" routerLink="/signin" (click)="handleLogout()">Выйти</a>
    </div>
  </header>
  <router-outlet></router-outlet>
  </div>


