@import "bootstrap/scss/bootstrap";

.page {
  margin: 0 auto;
  background-color: #202020;
  color: #FFFFFF;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
